body {
    background-color: green;

    .placeholder-block {
        background-color: gray;
        font-size: 28px!important;
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
        color: white;
        padding: 12px;
    }
}