@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  --white-light: #FEFAE0;
  --white-dark: #eae6cf;
  --black-light: #475f2b;
  --black-dark: #283618;
  --black-dim: rgb(40, 54, 24, 0.8);
  --green: #49C055;
  --red: #ff5e32;
  --yellow-light: #e6c758;
  --yellow-dark: #d2b651;
  --blue-light: #38bdf8;
  --blue-dark: #0d3b66;
  --blue-dim: rgba(87, 72, 174, 0.8);
  --gray-light: #bcbcbf;
  --gray-dark: #9ca3af;

  --dark-white-light: #011222;
  --dark-white-light-dim: rgba(1, 18, 34, 0.9);
  --dark-white-dark: #94a3b8;
  --dark-black-dark: #1e293b;
}

/* Body */
body {
  @apply bg-white-light font-inter;
}

/* Mobile global font size */
@media screen and (max-width: 415px){
  html {
    font-size: 12px;
  }
}

/* Fonts */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Mixins */
@mixin withRtl($property, $ltr-value, $rtl-value) {
  html[dir=ltr] & {
    #{$property}: $ltr-value !important;
  }

  html[dir=rtl] & {
    #{$property}: $rtl-value !important;
  }
}

/* LTR-RTL padding */
.right-left-padding-1 {
  @include withRtl(padding, 0 1rem 0 0, 0 0 0 1rem);
}
.left-right-padding-1 {
  @include withRtl(padding, 0 0 0 1rem, 0 1rem 0 0);
}
.md-left-right-padding-1 {
  @media screen and (min-width:768px) {
    @include withRtl(padding, 0 0 0 1rem, 0 1rem 0 0);
  }
}
.md-right-left--padding-2 {
  @media screen and (min-width:768px) {
    @include withRtl(padding, 0 2rem 0 0, 0 0 0 2rem);
  }
}
.md-right-left--padding-1 {
  @media screen and (min-width:768px) {
    @include withRtl(padding, 0 1rem 0 0, 0 0 0 1rem);
  }
}

/* LTR-RTL margin */
.right-left-margin-1 {
  @include withRtl(margin, 0 1rem 0 0, 0 0 0 1rem);
}
.left-right-margin-1 {
  @include withRtl(margin, 0 0 0 1rem, 0 1rem 0 0);
}
.lg-right-bottom-left-bottom-margin-2 {
  @media screen and (min-width:992px) {
    @include withRtl(margin, 0 2rem 2rem 0, 0 0 2rem 2rem);
  }
}
.lg-left-bottom-right-bottom-margin-2 {
  @media screen and (min-width:992px) {
    @include withRtl(margin, 0 0 2rem 2rem, 0 2rem 2rem 0);
  }
}

/* Init */
*:focus {
  outline: none;
}
a:not(.btn):hover {
  @apply underline underline-offset-2;
}
:is(#main-nav, #side-nav, #breadcrumb) {
  a {
    @apply no-underline;
  }
}

/* Theme Components */
#page-banner {
  @apply relative text-white-light font-light pt-32 pb-20 px-4 bg-black;

  #page-banner__bg {
    @apply absolute top-0 left-0 right-0 bottom-0 bg-cover opacity-30;
  }

  #page-banner__box {
    @apply relative z-10 max-w-screen-lg mx-auto;

    #page-banner__title {
      @apply text-xxlarge leading-xxlarge mb-4 capitalize;
    }
    #page-banner__intro {
      @apply text-medium-1 leading-medium-1 capitalize;
    }
  }
}
#breadcrumb {
  @apply absolute top-0 left-0 translate-x-2 -translate-y-1/2;

  ul {
    @apply bg-white-dark flex items-center text-sm-1 border border-white-dark rounded-md shadow-base;

    li {

      &:first-child {

        a {
          @apply inline-block bg-black-dark text-white-light px-4 py-3 rounded-l-md rounded-bl-md hover:bg-black-light;
        }
      }

      &:last-child {
        @apply text-black-light px-4 py-3 rounded-r-md rounded-br-md;

        a {
          @apply font-bold capitalize;
        }
      }
    }
  }
}
main {

  #main-box {
    @apply relative max-w-screen-lg mx-auto px-2 py-14;
  
    #main-content {
      @apply space-y-7 text-base-1 leading-base-1;
    }
  }
}
.posts-sample {
  @apply flex;
  
  .posts-sample__box {
    @apply space-y-12 p-10;

    &.with-divider {
      @apply divide-y-2 divide-white-dark;
      
      .posts-sample__item {
        @apply pt-12 [&:first-of-type]:pt-0;
      }
    }

    .posts-sample__title {
      @apply text-medium-2 leading-medium-2 text-center;
    }
    
    .posts-sample__item {
      @apply grid grid-cols-[max-content_1fr] gap-x-4;
  
      .posts-sample__item__date {
        @apply  flex flex-col justify-center items-center w-[5.2rem] h-[5.2rem] rounded-[50%] cursor-pointer hover:opacity-80;
  
        &.style--blue {
          @apply bg-blue-dark text-white-light;
        }
  
        &.style--yellow {
          @apply bg-yellow-light text-white-light;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
        }
  
        .date__month {
          @apply text-medium-1 leading-medium-1 font-light uppercase;
        }
  
        .date__day {
          @apply text-[2rem] leading-[2rem] font-black;
        }
      }
      .posts-sample__item__info {
  
        .item__title {
          @apply text-medium-1 leading-medium-1 font-light text-blue-dark capitalize;
        }
  
        .item__excerpt {
          @apply text-base leading-base first-letter:capitalize;
        }
  
        .item__read-more {
          @apply text-base leading-base font-light text-blue-dark capitalize;
        }
      }
    }
  }
}
.btn {
  @apply inline-block capitalize rounded-lg shadow-base;

  &--blue {
    @apply bg-blue-dark text-white-light hover:bg-blue-light;
  }

  &--yellow {
    @apply bg-yellow-light text-white-light hover:bg-yellow-dark;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
  }

  &--red {
    @apply bg-red text-white-dark hover:bg-[rgb(255,65,12)];
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
  }

  &--outline {
    @apply border border-black-light hover:bg-white-dark;
  }

  &--large {
    @apply text-medium-2 leading-medium-2 tracking-wider font-black py-4 px-9;
  }

  &--medium {
    @apply text-base-2 leading-base-2 font-bold py-3 px-6;
  }

  &--small {
    @apply text-base-1 leading-base-1 font-bold py-1 px-4;

    &.with-icon {
      @apply flex items-center gap-2;

      svg {
        @apply w-[1.4rem];
      }
    }
  }
}
#start-search-btn {
  @apply w-[1.8rem] cursor-pointer;

  path {
    @apply stroke-white-light;
  }
}
#search-box {
  @apply fixed top-0 left-0 bottom-0 right-0 z-50;
  @apply w-svw h-svh;
  @apply bg-[rgba(40,54,24,0.95)];
  @apply p-4;

  #search-box__layout {
    @apply grid grid-rows-[2.5rem_1fr] gap-y-4;
    @apply max-w-screen-md mx-auto;

    #search-box__header {
      @apply justify-self-end;
  
      #close-search-btn {
        @apply bg-white-dark rounded-full cursor-pointer;

        path {
          @apply stroke-black-dark;
        }
      }
    }
  
    #search-box__body {

      input {
        @apply w-full text-medium-2 leading-medium-2 text-black-dark bg-white-dark border-b-4 border-[rgba(71,95,43,0.95)] p-2;
        @apply placeholder:font-thin placeholder:text-medium-2 placeholder:leading-medium-2 placeholder:text-black-dark placeholder:capitalize;
      }

      #search-loader {
        @apply text-base-2 leading-base-2 mt-8;

        svg {
          @apply w-8 h-8 text-white-light animate-spin fill-white-light;

          path:first-of-type {
            @apply fill-black-light;
          }
          path:last-of-type {
            @apply fill-white-light;
          }
        }
      }

      #search-result {
        @apply text-base-2 leading-base-2 text-black-dark font-bold capitalize;

        li {
          @apply bg-white-dark font-light border-b border-black-dark transition;
          &:hover {
            @apply bg-black-dark text-white-dark;
          }

          a {
            @apply block p-2 no-underline;
          }
        }
      }

      #no-result {
        @apply text-large leading-large text-white-dark font-bold capitalize mt-8;
      }
    }
  }
}
#notes-list {

  li {
    @apply transition-[max-height] duration-300 ease-in-out overflow-hidden;

    input {
      @apply float-left w-full bg-white-dark text-medium-2 leading-medium-2 font-bold capitalize rounded-lg my-4 p-2;
    }
    textarea {
      @apply w-full bg-white-dark text-base-2 leading-base-2 rounded-lg p-2 resize-none;
    }
    .btn {
      @apply float-right;
    }

    @media screen and (min-width: 768px){
      input {
        @apply w-1/2 mt-0;
      }
    }
  }
}

/* Handle Wordpress Dynamic Classes */
#side-nav {

  .page_item {
    @apply hover:bg-white-dark;

    &:nth-child(2) {
      @apply border border-white-dark;
    }

    a {
      @apply block py-4;
    }
  }

  .current_page_item {
    @apply font-bold bg-white-dark;
  }
}
#main-nav {
  a.current-link {
    border: var(--white-light) 0.1rem solid;

    @media screen and (min-width:992px){
      border-top: unset;
      border-left: unset;
      border-right: unset;
    }
  }
}

/* Fluid Typography */
#main-nav .logo_a {
  font-size: clamp(1.375rem, 9.032vw + -0.431rem, 2.25rem);
  line-height: clamp(2.063rem, 8.903vw + 0.282rem, 2.925rem);
}

/* Swiper styling */
@import '../node_modules/swiper/swiper.min.css';
@import '../node_modules/swiper/modules/pagination/pagination.min.css';
.swiper-pagination-bullet {
  @apply w-4 h-4 bg-black-dark border-2 border-white-light opacity-100 #{!important};
}
.swiper-pagination-bullet-active {
  @apply bg-white-light #{!important};
}

/* Customize Login Page */
#login {
  @apply text-black-dark;
  
  h1 {

    a {
      height: unset;
      background: unset;
      text-indent: unset;
      @apply w-full text-black-dark text-medium-2 leading-medium-2 font-black;
    }
  }

  form {
    @apply bg-white-dark;

    input[type=text], input[type=password], input[type=checkbox], input[type=email] {
      @apply bg-white-light;
    }
    input[type=submit] {
      @apply bg-black-dark text-white-light;
    }
  }
}