@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  --white-light: #FEFAE0;
  --white-dark: #eae6cf;
  --black-light: #475f2b;
  --black-dark: #283618;
  --black-dim: rgb(40, 54, 24, 0.8);
  --green: #49C055;
  --red: #ff5e32;
  --yellow: #FFC801;
  --blue-light: #38bdf8;
  --blue-dark: #5748AE;
  --blue-dim: rgba(87, 72, 174, 0.8);
  --gray-light: #bcbcbf;
  --gray-dark: #9ca3af;

  --dark-white-light: #011222;
  --dark-white-light-dim: rgba(1, 18, 34, 0.9);
  --dark-white-dark: #94a3b8;
  --dark-black-dark: #1e293b;
}

/* Fonts */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Mixins */
@mixin withRtl($property, $ltr-value, $rtl-value) {
  html[dir=ltr] & {
    #{$property}: $ltr-value !important;
  }

  html[dir=rtl] & {
    #{$property}: $rtl-value !important;
  }
}

/* LTR-RTL padding */
.right-left-padding-1 {
  @include withRtl(padding, 0 1rem 0 0, 0 0 0 1rem);
}
.left-right-padding-1 {
  @include withRtl(padding, 0 0 0 1rem, 0 1rem 0 0);
}
.md-left-right-padding-1 {
  @media screen and (min-width:768px) {
    @include withRtl(padding, 0 0 0 1rem, 0 1rem 0 0);
  }
}

/* LTR-RTL margin */
.right-left-margin-1 {
  @include withRtl(margin, 0 1rem 0 0, 0 0 0 1rem);
}
.left-right-margin-1 {
  @include withRtl(margin, 0 0 0 1rem, 0 1rem 0 0);
}
.lg-left-bottom-right-bottom-margin-2 {
  @media screen and (min-width:992px) {
    @include withRtl(margin, 0 0 2rem 2rem, 0 2rem 2rem 0);
  }
}

/* Theme */
#page-banner__title {
  font-size: clamp(4.25rem, 21.818vw + -0.114rem, 5rem);
  line-height: clamp(6.375rem, 3.636vw + 5.648rem, 6.5rem);
}
#side-nav {
  .page_item {
    @apply hover:bg-white-dark;

    &:nth-child(2) {
      @apply border border-white-dark;
    }

    a {
      @apply block py-4;
    }
  }
  .current_page_item {
    @apply font-bold bg-white-dark;
  }
}
#main-nav {
  .logo_a {
    font-size: clamp(1.375rem, 9.032vw + -0.431rem, 2.25rem);
    line-height: clamp(2.063rem, 8.903vw + 0.282rem, 2.925rem);
  }
  .links-list_li_a {
    @apply w-full block text-center font-bold p-2 md:!opacity-100 md:!translate-x-0 md:!delay-0 md:!duration-0 hover:text-white-dark;

    &.current-link {
      border: var(--white-light) 0.1rem solid;

      @media screen and (min-width:992px){
        border-top: unset;
        border-left: unset;
        border-right: unset;
      }
    }
  }
}